<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= render 'card' %>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <%= link_to "index", tasks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
